/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align the content */
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Add margin to the form */
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.auth-link {
    margin-top: 10px;
    display: inline-block;
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.auth-link:hover {
    color: #0056b3;
}

/* Error Message */
#errorMessage {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

/* Logout Button */
#logoutButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545; /* Red color for logout button */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logoutButton:hover {
    background-color: #c82333; /* Darker red color on hover */
}
